.product {
    width: 300px;
    border: 1px solid gray;
    position: relative;
    border-radius: 7px;
    height: 510px;
}

.product .info {
    padding: 7px;
}

.product .info h4 {
    margin-bottom: 5px;

}

.product .info p {
    margin-top: 5px;
    margin-bottom: 4px;
}

.product img {
    border-radius: 7px;
    width: 100%;
}

.product button {
    background-color: tomato;
    border: none;
    color: white;
    font-weight: 600;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 7px;
}